
//List of team members.
.view-team-members {
  .view-content {
    width: 100%;
    @media #{$mobile-landscape} {
      width: calc(100% + 20px);
    }
    @media #{$tablet-portrait} {
      width: calc(100% + 20px);
    }
    @media #{$tablet-landscape} {
      width: calc(100% + 20px);
    }
    @media #{$desk} {
      width: calc(100% + 50px);
    }

    .views-row {
      float: left;
      width: 100%;
      margin-bottom: 50px;
      @media #{$mobile-landscape} {
        margin-bottom: 0;
        width: calc(100% / 2 - 20px);
        margin-right: 20px;
        &:nth-child(1n+1) {
          clear: none;
        }
        &:nth-child(2n+1) {
          clear: both;
        }
      }
      @media #{$tablet-landscape} {
        margin-bottom: 0;
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
        &:nth-child(1n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: both;
        }
      }
      @media #{$tablet-portrait} {
        margin-bottom: 0;
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
        &:nth-child(1n+1) {
          clear: none;
        }
        &:nth-child(3n+1) {
          clear: both;
        }
      }
      @media #{$desk} {
        margin-bottom: 0;
        width: calc(100% / 4 - 50px);
        margin-right: 50px;
        &:nth-child(1n+1) {
          clear: none;
        }
        &:nth-child(4n+1) {
          clear: both;
        }
      }
    }
  }
}
